.projectDiv {
    background: transparent;
    margin-top: 80%;
    height: 50%;
    width: 100%;
    position: absolute;
    
}

.projectContainer {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
}
.projectsTitle {
    background: transparent;
    height: 30%;
    width: auto;
    margin-left: 39%;
    position: absolute;
    margin-top: 0%;
    padding-top: 0%;
    color: white;
    font-family: 'Anonymous Pro', monospace;
} 

#project {
    background: transparent;
    margin-top: 15%;
    width: 80%;
}


@media only screen and (max-width: 900px) and (min-width: 300px){
    .projectContainer {
        background: transparent;
        flex-direction: column;
    }

    .projectDiv {
        background: transparent;
        margin-top: 230%;
    }
    #project {
        background: transparent;
        width: 65%;
    }

    /* #project {
        margin-top: 15%;
        height: 5%;
        width: 70%;
    } */
  } 

  a {
    text-decoration: none;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: x-large;
  } 

  .projectName {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: xx-large;
  }