.projects {
    text-align: center;
    background: transparent;
    margin-top: 1300px;
    height: 50%;
    width: 100%;
    position: absolute; 
}
#projectsTitle {
    position: static;
    width: 100%;
    text-align: center;
}
.projectsContainer {
    background: transparent;
    display: flex;
    justify-content: center;
}
 .myProjects {
    background: transparent;
    height: 30%; 
    width: auto;
    color: white;
    font-size: 37px;
    font-family: 'Anonymous Pro', monospace; 
} 

.projectName {
    padding-top: 5%;
    font-style: italic;
    padding-bottom: 0px;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: xx-large;
}

#projectImage {
    background: transparent;
    margin-top: 2%;
    width: 80%;
}

.project {
    height: 50%;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: x-large;
  } 
  
.projectLink {
    margin: 2%;
}

 @media only screen and (min-width: 1023px) and (max-width: 1025px){
    .projects {
        margin-top: 1600px;
    }
  }  

@media only screen and (min-width: 300px) and (max-width: 1024px) {
    .projectsContainer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 319px) and (max-width: 415px) {
    .projects {
        margin-top: 800px;
    }
    
}
  
/* /* 
  @media only screen and (min-width: 359px){
    .projects {
        margin-top: 730px;
    }
  }  
  @media only screen and (min-width: 413px){
    .projects {
        margin-top: 790px;
    } 
  }   */