.bubble-1 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    overflow: hidden;
    margin-top: -13%;
    left: -10%;
    z-index: 1;
    animation: bubble-1-animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes bubble-1-animate {
    0% {width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        opacity: .3;
        overflow: hidden;
        margin-top: -13%;
        left: 50%;
    }
    100% {width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        opacity: 1;
        overflow: hidden;
        margin-top: -13%;
        left: -10%;
        }
}

.grid-1 {
    width: 35%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    margin-top: -22%;;
    left: 6%;
    animation: grid-1-animate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes grid-1-animate {
    0%{width: 35%;
        height: auto;
        position: absolute;
        opacity: .3;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        margin-top: -22%;;
        left: 50%;
    }
    100%{
    width: 35%;
    height: auto;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    margin-top: -22%;;
    left: 6%;
    }
}


.bubble-2 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    margin-top: -20%;
    right: -10%;
    animation: bubble-2-animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes bubble-2-animate {
    0%{width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        opacity: .3;
        top: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
        margin-top: -20%;
        right: -50%;

    }
    100%{
        width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        opacity: 1;
        top: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
        margin-top: -20%;
        right: -10%;
    }
}

.plus-1{
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 15%;
    right: 0;
    transform: translate(-50%, -50%);
    animation: plus-1-animate;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}
@keyframes plus-1-animate {
    0%{
    position: absolute;
    background: transparent;
    opacity: .1;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 15%;
    right: -10%;
    transform: translate(-50%, -50%);
    }
    100%{
    position: absolute;
    background: transparent;
    opacity: 1;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 15%;
    right: 0;
    transform: translate(-50%, -50%);
    }
}
.plus-2 {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 7%;
    right: 20%;
    transform: translate(-50%, -50%);
    animation: plus-2-animate;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}
@keyframes plus-2-animate {
    0%{
    position: absolute;
    background: transparent;
    opacity: .1;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 7%;
    right: -10%;
    transform: translate(-50%, -50%); 
    }
    100%{
    position: absolute;
    background: transparent;
    opacity: 1;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 7%;
    right: 20%;
    transform: translate(-50%, -50%); 
    }
}

.bubble-3 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -15%;
    right: -13%;
    animation: bubble-3-animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes bubble-3-animate{
    0%{width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        opacity: .3;
        bottom: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
        margin-bottom: -15%;
        right: -50%;

    }
    100%{
        width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    opacity: 1;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -15%;
    right: -13%;
    }
}
.grid-2 {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    margin-bottom: -12%;
    right: 0%;
    animation: grid-2-animate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes grid-2-animate {
    0%{width: 35%;
        height: auto;
        position: absolute;
        opacity: .3;
        bottom: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
        margin-bottom: -12%;
        right: -50%;

    }
    100%{
        width: 35%;
    height: auto;
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    margin-bottom: -12%;
    right: 0%;
    }
}

.bubble-4 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-bottom: -15%;
    left: -5%;
    animation: bubble-4-animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes bubble-4-animate {
    0% {width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 0;
        opacity: .3;
        overflow: hidden;
        margin-bottom: -15%;
        left: 50%;}
    100% {width: 40%;
        height: auto;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 0;
        opacity: 1;
        overflow: hidden;
        margin-bottom: -15%;
        left: -5%;

        }
}

.plus-3 {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    bottom: 4%;
    left: 32%;
    transform: translate(-50%, -50%);
    animation: plus-3-animate;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}
@keyframes plus-3-animate {
    0%{
    position: absolute;
    background: transparent;
    opacity: .1;
    z-index: 1;
    width: 3%;
    height: auto;
    bottom: 4%;
    left: 80%;
    transform: translate(-50%, -50%);
    }
    100%{
    position: absolute;
    background: transparent;
    opacity: 1;
    z-index: 1;
    width: 3%;
    height: auto;
    bottom: 4%;
    left: 32%;
    transform: translate(-50%, -50%);
    }
}
.titleContainer{
    position: absolute;
    top: 50%;
    width: 100%;
}
.title {
    background: transparent;
    width: 55%;
    height: auto;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1 {
    background: transparent;
    position: absolute;
    left: 0;
    width: 10%;
    height: auto;
}
.line-2 {
    background: transparent;
    position: absolute;
    right: 0;
    width: 10%;
    height: auto;
}

/* #scrollButton a {
    padding-top: 50%;
  } */
  #scrollButton a span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    transform: rotate(-45deg);
    animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    animation-delay: 4.5s;
    box-sizing: border-box;
    visibility: hidden;
  }
  @keyframes sdb05 {
    0% {
     transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
      visibility: visible;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
      visibility: visible;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
      visibility: visible;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
      visibility: visible;
    }
  }
  