/* Landing page container*/
#HomePage-Animations-Container {
    /* display: flex;
    position: relative; */
    width: 1000px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    
}

/*Container for title and the adjacent 2 lines*/
 .titleContainer {
    /* display: block;
    position: absolute; */
    color: transparent;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
    margin: auto;
} 
/*Rules for title and lines*/   
 .title {
    grid-column-start: 2;
    grid-row-start: 2;
    background: transparent;
    position: relative;
    margin: auto;
    padding: 0;
    z-index: 2;
  }
.line-1 {
    grid-column-start: 1;
    grid-row-start: 2;
    position: absolute;
    background: transparent;
    z-index: 1;
    padding: 0;
    right:-10px;
    
  }
  .line-2 {
    grid-column-start: 3;
    grid-row-start: 2;
    position: absolute;
    background: transparent;
    z-index: 1;
    padding: 0;
    left:0;
    
  } 
  
/*Container for bubble top left and grid behind*/   
span .top-left {
    grid-column-start: 1;
    color: transparent;
    position: relative;
    max-width:500px;
    top: 0;
    left: 0;
}

.bubble-1 {
    
    padding: 0;
    background: transparent;
    z-index: 5;
    transition: ease-in-out;
    }
.grid-1 {
    
    background: transparent;
    z-index: 5;
    padding: 0;
    left: 0;
    top: -10;
    } 
    
/*Bubble top right and its 2 plus signs*/
.top-right {
    grid-column-start: 3;
    top: 0;
    right: 0;
    z-index: 0;
}

.bubble-2 {
    position: absolute;
    background: transparent;
    padding: 0;
    z-index: 0;
    top: 0;
    right: 0;
    }
.plus-1 {
  right: 0;
  z-index: 2;
    }
.plus-2 {
    background: transparent;
    z-index: 2;
    padding: 0;
    
    } 
  
/*Bubble bottom right corner and its grid*/
span .bottom-right {
    color: transparent;
    grid-row-start:3; 
    grid-column-start: 3;
    position: absolute;
    max-width:500px;
    bottom: 0;
    right: 0;
}
.bubble-3 {
    background: transparent;
    position: absolute;
    padding: 0;
    z-index: 2;
    bottom: 1;
    right:0;
      }
.grid-2 {
    z-index: -1;
    position: relative;
    background: transparent;
    
    right:0;
} 

/*Bubble bottom left corner and its single plus sign*/
 span .bottom-left {
    grid-row-start:3; 
    grid-column-start: 1;
    bottom: 0;
    left: 0;
}
.bubble-4 {
    background: transparent;
    position: absolute;
    padding: 0;
    bottom: -10;
    left: 0;
    z-index:2
      }
.plus-3 {
    z-index:1;
    bottom:0;
    left:0;
    position: absolute;
    background: transparent;
      } 