/* * {
    margin: 0;
    padding: 0;
} */
/* .top-left {
}
.top-right {
    
}
.bottom-right{

}
.bottom-left{
    
}

#HomePage-Animations-Container{
    
} */
.bubble-1 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    overflow: hidden;
    margin-top: -13%;
    left: -10%;
}
.grid-1 {
    width: 35%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    margin-top: -22%;;
    left: 6%;
}


.bubble-2 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    margin-top: -20%;
    right: -10%;
}

.plus-1{
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 15%;
    right: 0;
    transform: translate(-50%, -50%);
}
.plus-2 {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    top: 7%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.bubble-3 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -15%;
    right: -13%;
}
.grid-2 {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    margin-bottom: -28%;
    right: 0%;
}

.bubble-4 {
    width: 40%;
    height: auto;
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-bottom: -15%;
    left: -5%;
}

.plus-3 {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 3%;
    height: auto;
    bottom: 6%;
    left: 30.5%;
    /* transform: translate(-50%, -50%); */
}

.titleContainer{
    position: absolute;
    top: 50%;
    width: 100%;
}
.title {
    background: transparent;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1 {
    background: transparent;
    position: absolute;
    left: 0;
    width: 15%;
    height: auto;
}
.line-2 {
    background: transparent;
    position: absolute;
    right: 0;
    width: 15%;
    height: auto;
}