/* .body{
    height:100%; */

.contactContainer {
    border: 5px solid red;
    position: absolute; 
    /* min-height: 40px;
    max-height: 40px; */
    /* margin-bottom: 0px; */
    bottom: 0;
    /* width: 100%; */
    /* margin-bottom: 10%;  */
}
/* .title {
    color: white;
}

.icon {
    color: white;
    margin: 1%;
}

.pictureContainer {
    margin-left: 15%;
    margin-right: 100%;
    padding: 0;
    height: 150%;
    width: auto;
}

.resume{
    color: white;
    font-size: 1.5em;
}

.profilePic{
    height: 130%;
    width: auto;
}   */