 .contactContainer {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top:200%;
    bottom: 0%;
    width: 100%;
}

 .title {
    padding: 3%;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

.iconContainer{
    padding: 2%;
}

.icon {
    position: relative;
    color: white;
    margin: 1%;
}
p {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5em;
}
.pictureContainer {
    margin-top:3%;
} 

.resume{
    text-decoration: none;
    margin-bottom: 5%;
 }  


@media only screen and (max-width: 900px) and (min-width: 300px){
    .pictureContainer {
        margin-top:10%;
    }
  }